.App {
}

.App-logo {
  /*transform-origin: 50% 13%;*/
  /*animation: App-logo-spin infinite 2s ease-in-out;*/
  height: 3.5em;
  margin: 0 1.1em 0 0.2em;
}

.App-header {
  background-color: var(--primary-color);
  padding: 0.5em 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.App-header a {
  color: white;
  text-decoration: none;
  outline: 0;
}

.App-title {
  font-size: 1.8em;
  display: inline;
  margin: 0;
  vertical-align: 0.5em;
}

.App-intro {
  font-size: large;
}

.App-content {
  max-width: 800px;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
