.SlideResults {
  margin: 1em -0.3rem;
}

.SlideResults-title {
  margin: 1em 0.3rem;
}

.Slide {
  margin: 0.3rem;
  font-size: 0.8em;
  display: block;
  float: left;
  width: 20em;
  height: 15em;
}

.Slide-link {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  text-decoration: none;
  display: block;
  height: 100%;
}

.Slide-link:hover {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.Slide-selection {
  float: right;
  font-size: 1.6em;
  font-weight: bold;
  background: rgba(0, 163, 0, 0.57);
  color: #fff;
  width: 2em;
  height: 1.5em;
  text-align: center;
  display: block;
  line-height: 1.3em;
  margin: 1px;
  cursor: pointer;
}

.Slide-selection:hover {
  background: rgba(0, 163, 0, 1);
}

.Slide-selected .Slide-selection {
  background: rgba(163, 9, 0, 0.57);
}

.Slide-selected .Slide-selection:hover {
  background: rgba(163, 9, 0, 1);
}

.Slide-score {
  font-size: 1.1em;
  color: #00008B;
  float: left;
  margin: 0.3em 0.3em 0.3em 0.6em;
}

.Slide-thumb {
  display: block;
  margin: auto;
  width: 90%;
  max-height: 11em;
}
